![0.jpg]()

# **Task4: SQL Primary key and Foreign key**

*  Log In to **Your Google Account**.
*  Create a New Notebook in the Path **Coded/Phase2/Week1/Day4**.
*  Rename the Notebook to **Phase2-Week1-Day4-Task4[YourName]**.

--------------------------------------------------------------------------------

**Apply the concepts we've learned to tackle this task and discover the solution!**

1. Use the following code for making database connection to Microsoft SQL Server.
```
import pymssql
import pandas as pd
conn = pymssql.connect(server='SQL6020.site4now.net', database='db_a34f35_coded' ,user='db_a34f35_coded_admin', password='coded123*')
```

![Diagram.png]()


2. Select the appropriate JOIN clause to retrieve all records from the Orders and Customers tables where there is a matching entry in both tables.

3. Select the appropriate JOIN clause to retrieve all records from the Orders and Employees tables where there is a matching entry in both tables.

4. Select the appropriate JOIN clause to retrieve all records from the Customers table along with any corresponding records from the Orders table.

5. Select the appropriate JOIN clause to retrieve all records from the OrderDetails table along with any corresponding records from the Products table.

6. Select the appropriate JOIN clause to retrieve all records from the Products, Categories, and Suppliers tables where there is a matching entry in  three tables.

--------------------------------------------------------------------------------

* **Submit The Notebook**

#SOL

###1 Use the following code for making database connection to Microsoft SQL Serve

In [6]:
import pymssql
import pandas as pd
conn = pymssql.connect(server='SQL6020.site4now.net', database='db_a34f35_coded' ,user='db_a34f35_coded_admin', password='coded123*')

###2 Select the appropriate JOIN clause to retrieve all records from the Orders and Customers tables where there is a matching entry in both tables.

In [7]:
SQL_statement="SELECT Orders.*, Customers.* FROM Orders INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID"
df_customers = pd.read_sql_query(SQL_statement, conn)
df_customers

<ipython-input-7-16b5bce519f3>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_customers = pd.read_sql_query(SQL_statement, conn)

,OrderID,CustomerID,EmployeeID,OrderDate,ShipperID,order_date,CustomerID,CustomerName,Address,City,PostalCode,Country
0,10308,2,7,35326,3,1996-09-18,2,Eng. Sundus Adel Hasan,Avda. de la Constitucin 2222,Mxico D.F.,5021,Mexico
1,10365,3,3,35396,2,1996-11-27,3,Taiba Pattan,Mataderos 2312,Mxico D.F.,5023,Mexico
2,10355,4,6,35384,1,1996-11-15,4,Talal Salman Alsharrah,120 Hanover Sq.,London,WA1 1DP,UK
3,10383,4,8,35415,3,1996-12-16,4,Talal Salman Alsharrah,120 Hanover Sq.,London,WA1 1DP,UK
4,10384,5,3,35415,3,1996-12-16,5,Hashem Jassim Mousa,Berguvsvgen 8,Lule,S-958 22,Sweden
...,...,...,...,...,...,...,...,...,...,...,...,...
191,10256,88,3,35261,2,1996-07-15,88,Fahad Ali Awad,"Rua do Mercado, 12",Resende,08737-363,Brazil
192,10269,89,5,35277,1,1996-07-31,89,Hesham Shahin Ibrahim,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA
193,10344,89,4,35370,2,1996-11-01,89,Hesham Shahin Ibrahim,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA
194,10248,90,5,35250,3,1996-07-04,90,Fatemah Waleed Boyabes,Keskuskatu 45,Helsinki,21240,Finland
195,10374,91,1,35404,3,1996-12-05,91,Raya Yousif Ismail,ul. Filtrowa 68,Walla,01-012,Poland

###3 Select the appropriate JOIN clause to retrieve all records from the Orders and Employees tables where there is a matching entry in both tables.

In [10]:
SQL_statement="SELECT Orders.*, Employees.* FROM Orders INNER JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID"
df_Employees = pd.read_sql_query(SQL_statement, conn)
df_Employees

<ipython-input-10-b94cbc1affe7>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_Employees = pd.read_sql_query(SQL_statement, conn)

,OrderID,CustomerID,EmployeeID,OrderDate,ShipperID,order_date,EmployeeID,LastName,FirstName,BirthDate,Photo
0,10258,20,1,35263,1,1996-07-17,1,Ali,Nancy,25180,EmpID1.pic
1,10270,87,1,35278,1,1996-08-01,1,Ali,Nancy,25180,EmpID1.pic
2,10275,49,1,35284,1,1996-08-07,1,Ali,Nancy,25180,EmpID1.pic
3,10285,63,1,35297,2,1996-08-20,1,Ali,Nancy,25180,EmpID1.pic
4,10292,81,1,35305,2,1996-08-28,1,Ali,Nancy,25180,EmpID1.pic
...,...,...,...,...,...,...,...,...,...,...,...
191,10263,20,9,35269,3,1996-07-23,9,Omer,Anne,25386,EmpID9.pic
192,10255,68,9,35258,3,1996-07-12,9,Omer,Anne,25386,EmpID9.pic
193,10324,71,9,35346,1,1996-10-08,9,Omer,Anne,25386,EmpID9.pic
194,10331,9,9,35354,1,1996-10-16,9,Omer,Anne,25386,EmpID9.pic
195,10386,21,9,35417,3,1996-12-18,9,Omer,Anne,25386,EmpID9.pic

###4Select the appropriate JOIN clause to retrieve all records from the Customers table along with any corresponding records from the Orders table.

In [11]:
SQL_statement="SELECT Orders.*, Customers.* FROM Customers LEFT JOIN Orders ON Orders.CustomerID = Customers.CustomerID"
df_customers = pd.read_sql_query(SQL_statement, conn)
df_customers

<ipython-input-11-4d47a2d9a549>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_customers = pd.read_sql_query(SQL_statement, conn)

,OrderID,CustomerID,EmployeeID,OrderDate,ShipperID,order_date,CustomerID,CustomerName,Address,City,PostalCode,Country
0,NaN,NaN,NaN,None,NaN,None,1,abdulaziz mohammad alneamah,Obere Str. 57,Berlin,12209,Germany
1,10308.0,2.0,7.0,35326,3.0,1996-09-18,2,Eng. Sundus Adel Hasan,Avda. de la Constitucin 2222,Mxico D.F.,5021,Mexico
2,10365.0,3.0,3.0,35396,2.0,1996-11-27,3,Taiba Pattan,Mataderos 2312,Mxico D.F.,5023,Mexico
3,10355.0,4.0,6.0,35384,1.0,1996-11-15,4,Talal Salman Alsharrah,120 Hanover Sq.,London,WA1 1DP,UK
4,10383.0,4.0,8.0,35415,3.0,1996-12-16,4,Talal Salman Alsharrah,120 Hanover Sq.,London,WA1 1DP,UK
...,...,...,...,...,...,...,...,...,...,...,...,...
208,10256.0,88.0,3.0,35261,2.0,1996-07-15,88,Fahad Ali Awad,"Rua do Mercado, 12",Resende,08737-363,Brazil
209,10269.0,89.0,5.0,35277,1.0,1996-07-31,89,Hesham Shahin Ibrahim,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA
210,10344.0,89.0,4.0,35370,2.0,1996-11-01,89,Hesham Shahin Ibrahim,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA
211,10248.0,90.0,5.0,35250,3.0,1996-07-04,90,Fatemah Waleed Boyabes,Keskuskatu 45,Helsinki,21240,Finland
212,10374.0,91.0,1.0,35404,3.0,1996-12-05,91,Raya Yousif Ismail,ul. Filtrowa 68,Walla,01-012,Poland

###5 Select the appropriate JOIN clause to retrieve all records from the OrderDetails table along with any corresponding records from the Products table.

In [13]:
SQL_statement="SELECT OrderDetails.*,  Products.* FROM OrderDetails LEFT JOIN Products ON Products.ProductID = OrderDetails.ProductID"
df_OrderDetails = pd.read_sql_query(SQL_statement, conn)
df_OrderDetails

<ipython-input-13-ab52731cb95f>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_OrderDetails = pd.read_sql_query(SQL_statement, conn)

,OrderDetailID,OrderID,ProductID,Quantity,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,100,10285,1,45,1,Chais,1,1,10 boxes x 20 bags,18.0
1,124,10294,1,18,1,Chais,1,1,10 boxes x 20 bags,18.0
2,185,10317,1,20,1,Chais,1,1,10 boxes x 20 bags,18.0
3,270,10348,1,15,1,Chais,1,1,10 boxes x 20 bags,18.0
4,283,10354,1,12,1,Chais,1,1,10 boxes x 20 bags,18.0
...,...,...,...,...,...,...,...,...,...,...
513,320,10367,77,7,77,Original Frankfurter grne Soe,12,2,12 boxes,13.0
514,467,10421,77,10,77,Original Frankfurter grne Soe,12,2,12 boxes,13.0
515,26,10256,77,12,77,Original Frankfurter grne Soe,12,2,12 boxes,13.0
516,29,10257,77,15,77,Original Frankfurter grne Soe,12,2,12 boxes,13.0
517,115,10290,77,10,77,Original Frankfurter grne Soe,12,2,12 boxes,13.0

###6 Select the appropriate JOIN clause to retrieve all records from the Products, Categories, and Suppliers tables where there is a matching entry in three tables.

In [14]:
SQL_statement = "SELECT Products.*, Categories.*, Suppliers.* FROM Products INNER JOIN Categories ON Products.CategoryID = Categories.CategoryID INNER JOIN Suppliers ON Products.SupplierID = Suppliers.SupplierID"
df_customers = pd.read_sql_query(SQL_statement, conn)
df_customers

<ipython-input-14-4334d195d90e>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_customers = pd.read_sql_query(SQL_statement, conn)

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price,CategoryID,CategoryName,Description,SupplierID,SupplierName,ContactName,Address,City,PostalCode,Country,Phone
0,1,Chais,1,1,10 boxes x 20 bags,18.00,1,Drinks,"Soft drinks, coffees, teas, beers, and ales",1,Exotic Liquid,Charlotte Cooper,49 Gilbert St.,Londona,EC1 4SD,UK,(171) 555-2222
1,2,Chang,1,1,24 - 12 oz bottles,19.00,1,Drinks,"Soft drinks, coffees, teas, beers, and ales",1,Exotic Liquid,Charlotte Cooper,49 Gilbert St.,Londona,EC1 4SD,UK,(171) 555-2222
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,2,Spices,"Sweet and savory sauces, relishes, spreads, an...",1,Exotic Liquid,Charlotte Cooper,49 Gilbert St.,Londona,EC1 4SD,UK,(171) 555-2222
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,2,Spices,"Sweet and savory sauces, relishes, spreads, an...",2,New Orleans Cajun Delights,Shelley Burke,P.O. Box 78934,New Orleans,70117,USA,(100) 555-4822
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,2,Spices,"Sweet and savory sauces, relishes, spreads, an...",2,New Orleans Cajun Delights,Shelley Burke,P.O. Box 78934,New Orleans,70117,USA,(100) 555-4822
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,Rd Kaviar,17,8,24 - 150 g jars,15.00,8,Seafood,Seaweed and fish,17,Svensk Sjfda AB,Michael Bjrn,Brovallavgen 231,Stockholm,S-123 45,Sweden,08-123 45 67
73,74,Longlife Tofu,4,7,5 kg pkg.,10.00,7,Fruits/Vegetables,fruits and vegetables,4,Tokyo Traders,Yoshi Nagase,9-8 Sekimai Musashino-shi,Tokyo,100,Japan,(03) 3555-5011
74,75,Rhnbru Klosterbier,12,1,24 - 0.5 l bottles,7.75,1,Drinks,"Soft drinks, coffees, teas, beers, and ales",12,Plutzer Lebensmittelgromrkte AG,Martin Bein,Bogenallee 51,Frankfurt,60439,Germany,(069) 992755
75,76,Lakkalikri,23,1,500 ml,18.00,1,Drinks,"Soft drinks, coffees, teas, beers, and ales",23,Karkki Oy,Anne Heikkonen,Valtakatu 12,Lappeenranta,53120,Finland,(953) 10956
76,77,Original Frankfurter grne Soe,12,2,12 boxes,13.00,2,Spices,"Sweet and savory sauces, relishes, spreads, an...",12,Plutzer Lebensmittelgromrkte AG,Martin Bein,Bogenallee 51,Frankfurt,60439,Germany,(069) 992755